/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #f5f5f5; /* o el color que prefieras */
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
}

.control-panel {
  background-color: #0e522a;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.buttons, .conditions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #0eb2b8;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #10eafa;
}

.buttons-terminar button{
  background-color: #e74c3c;
}

.buttons-exportar_csv button{
  background-color: #4333d4;
}

.conditions button {
  background-color: #2ecc71;
}

.conditions button:hover {
  background-color: #22ff7e;
}



.sensors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.sensor-card {
  background-color: rgb(19, 122, 41);
  border: 1px solid #0c631b;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.sensor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.sensor-info {
  margin-bottom: 15px;
  font-size: 0.9em;
}

.sensor-reading {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.reading-value {
  font-size: 1.5em;
  font-weight: bold;
  color: #2c3e50;
}

.loading, .error {
  text-align: center;
  margin: 50px 0;
  font-size: 1.2em;
}

.error {
  color: #e74c3c;
}